<!DOCTYPE html>
<html>
  <head>
    <title>O Melhor Caminho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="container fill">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield(:js) %>
  </body>
</html>
